@import url('../fontawesome/font-awesome.css'); /*Icons Fonts*/

body{
	background-color:#f9f9f9;
	color:#85868d;
	font-family: 'Raleway', sans-serif;
	position:relative;}

body, html{
	overflow-x:hidden;}

strong, b{
	font-weight:700;}


.transit{
	transition: all 0.5s;
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
	-o-transition: all 0.5s;}


a:focus{
	outline:none;}

a:hover{
	text-decoration:none;}





/*****************************
Loader
*****************************/

.loading-container {
  position:fixed;
  background-color:#f9f9f9;
  z-index:9;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  cursor:wait;
}

.loading {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right:0;
  margin:auto;
  transform: rotate(45deg);  
}

.loading div {
  width: 16px;
  height: 16px;
  position: absolute;
}

.l1 div, .l2 div, .l3 div, .l4 div {
  width: 100%;
  height: 100%;
}

.l1 div{ background-color:#2ecc71;}
.l2 div{ background-color:#9b59b6;}
.l3 div{ background-color:#3498db;}
.l4 div{ background-color:#f1c30f;}

.l1 { transform: translate(0,0); }
.l2 { transform: translate(0,16px); }
.l3 { transform: translate(16px,0px); }
.l4 { transform: translate(16px,16px); }

@keyframes rot1 {
  0%{ transform: rotate(0deg); }
  40%{ transform: rotate(0deg); }
  50%{ transform: rotate(0deg); }
  60%{ transform: rotate(90deg); }
  100%{ transform: rotate(90deg); }
}

@keyframes rot2 {
  0%{ transform: rotate(0deg); }
  40%{ transform: rotate(0deg); }
  50%{ transform: rotate(0deg); }
  60%{ transform: rotate(-90deg); }
  100%{ transform: rotate(-90deg); }
}

@keyframes rot3 {
  0%{ transform: rotate(45deg); }
  35%{ transform: rotate(45deg); }
  65%{ transform: rotate(405deg); }
  100%{ transform: rotate(405deg); }
}

@keyframes l1-rise {
  0%{ transform: translate(0px,0px); }
  30%{ transform: translate(-4px, -4px); }
  70%{ transform: translate(-4px, -4px); }
  100%{ transform: translate(0px, 0px); }
}

@keyframes l2-rise {
  0%{ transform: translate(0,16px); }
  30%{ transform: translate(-4px, 20px); }
  70%{ transform: translate(-4px, 20px); }
  100%{ transform: translate(0,16px); }
}

@keyframes l3-rise {
  0%{ transform: translate(16px, 0px); }
  30%{ transform: translate(20px, -4px); }
  70%{ transform: translate(20px, -4px); }
  100%{ transform: translate(16px, 0px); }
}

@keyframes l4-rise {
  0%{ transform: translate(16px,16px); }
  30%{ transform: translate(20px, 20px); }
  70%{ transform: translate(20px, 20px); }
  100%{ transform: translate(16px,16px); }
}



.l1 { animation: l1-rise 3s ease 0s infinite; }
.l2 { animation: l2-rise 3s ease 0s infinite; }
.l3 { animation: l3-rise 3s ease 0s infinite; }
.l4 { animation: l4-rise 3s ease 0s infinite; }

.l1 div, .l4 div { animation: rot1 3s ease 0s infinite; }
.l2 div, .l3 div { animation: rot2 3s ease 0s infinite; }






/*****************************
Left Panel (aside navigation)
*****************************/

aside.left-panel{
	background-color: #032C5E;
	width:230px;
	position:fixed;
	padding:25px 0px;
	box-shadow:inset -5px 0px 8px rgba(0,0,0,0.3);
	height:100%;
	top:0px;
	left:0px;}
	
aside.left-panel.collapsed{
	overflow:visible !important;
	/*position:absolute;*/
	bottom:0px;}


/*** Aside sizes ***/
	
aside.left-panel.lg{
	width:250px;}
	
aside.left-panel.lg + .content{
	margin-left:250px;}
	



/*** Aside Collapsed ***/
@media (min-width: 768px) {
aside.left-panel.collapsed{
	width:75px;
	text-align:center;}
	
aside.left-panel.collapsed + .content{
	margin-left:75px;}

aside.left-panel.collapsed .user .user-login,
aside.left-panel.collapsed span.nav-label{
	display:none;}
	

aside.left-panel.collapsed .navigation > ul > li > a{
	padding:20px;}


	
aside.left-panel.collapsed i.fa{
	font-size:22px;}
	
aside.left-panel.collapsed .navigation > ul > li.has-submenu:after{
	display:none;}
}


/*****************************
User
*****************************/

.user{
	margin-bottom:35px;}
	
.user h4.user-name{
	color:#e8e8e8;
	font-size:16px;}

.user .user-login{
	display:inline-block;}

.user img {
    margin: 0 auto;
}

.user .user-login .btn{
	border:1px solid #e8e8e8;
	background-color:transparent;
	color:#e8e8e8;
	padding:4px 8px;}
	
.user-login .dropdown-menu{
	border:1px solid #343847;
	color:#616574;
	background-color:#2B2F3E;
	width:100%;
	margin-top:-1px;
	min-width:100%;
	border-radius:0px 0px 4px 4px;
	border-top:0px;}	
	
.user-login .dropdown-menu li a{
	font-size:12px;
	color:#616574;
	padding:4px 8px;}
	
.user-login .dropdown-menu li a:hover,
.user-login .dropdown-menu li a:focus{
	background-color:#616574;
	color:#fff;}
	
.user .user-login .status-icon{
	font-size:6px;
	line-height:0px;
	margin-right:2px;
	position:relative;
	bottom:2px;}
	
.user .user-login .status-icon.available{
	color:#27c7bc;}

.user .user-login .status-icon.busy{
	color:#EC971F;}
	
.user .user-login .status-icon.invisibled{
	color:#4a4e5d;}
	
.user .user-login .status-icon.signout{
	color:#FF404B;}




/*****************************
Navigation
*****************************/

.navigation{
	margin:20px 0px;}
	
.navigation > ul > li{
	position:relative;}
	

.navigation > ul > li.has-submenu:after{
	content:"\f105";
	font-family: 'FontAwesome';
	display:inline-block;
	position:absolute;
	color:#7a7e8a;
	right:15px;
	transition: all 0.4s;
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-o-transition: all 0.4s;
	top:10px;
	visibility:hidden;}
	
.navigation > ul > li.active.has-submenu:after,
.navigation > ul > li.has-submenu:hover:after{
	color:#fff;}
	


.navigation > ul > li > a{
	display:block;
	padding:12px 16px;
	color:#e8e8e8;
	text-transform:uppercase;
	font-size:13px;
	text-decoration:none;
	font-weight:800;
	transition: all 0.4s;
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-o-transition: all 0.4s;}
	
.navigation > ul:hover > li.active > a{
	background-color:transparent;
	box-shadow:none;
	color:#e8e8e8;}
	
.navigation > ul > li:hover > a,
.navigation > ul > li.active:hover > a,
.navigation > ul > li.active > a{
	color:#fff;
	background-color: #5F6B61;
	-webkit-box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.3);
            box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.3);}
	
.navigation ul li a i{
	margin-right:6px;
	font-size:14px;}



/*** Sub Menu ***/
.navigation ul li ul{
	display:none;
	background-color:#5A79A5;
	-webkit-box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.2);
            box-shadow: inset -6px 0 8px -2px rgba(0,0,0,0.2);}

		
aside:not(.collapsed) .navigation ul li.active ul{
	display:block;}
	
.navigation ul li ul li a{
	padding:8px 35px;
	color:#e8e8e8;
	text-decoration:none;
	white-space:nowrap;
	transition: all 0.2s;
	-moz-transition: all 0.2s; 
	-webkit-transition: all 0.2s; 
	-o-transition: all 0.2s;
	font-size:13px;
	border-left:0px solid #5e6271;
	text-align:left;
	display:block;}
	
.navigation ul li ul li a:hover,
.navigation ul li ul li.active a{
	border-left:5px solid #565656;
	color:#565656;}




/*** Aside Collapsed Sub Menu ***/
@media (min-width: 768px) {
aside.left-panel.collapsed .navigation ul li ul{
	position:absolute;
	z-index:3;
	left:100%;
	top:0px;
	background-color:#F2F2F4;
	box-shadow:none;
	padding:10px 0px;
	min-width:200px;
	border:1px solid #dddddd;}
	
aside.left-panel.collapsed .navigation ul li ul:before{
	display:block;
	content:"";
	height:20px;
	width:20px;
	border-color: transparent #F2F2F4 transparent transparent;
	border-width:10px;
	border-style:solid;
	position:absolute;
	cursor:pointer;
	right:100%;
	top:22px;}

aside.left-panel.collapsed .navigation > ul > li:hover > ul{
	display:block !important;}
	

aside.left-panel.collapsed .navigation ul li ul li a{
	border:0px;
	color:#8f8f9f;
	border-bottom:1px dashed #ECECEE;}
}
	


/*****************************
Top Header
*****************************/
	
header{
	background-color:#f2f2f4;
	border-bottom:1px solid #ececee;
	padding-top:4px;
	padding-bottom:4px;}
	
	

.navbar-toggle{
	margin:8px 20px 8px 0px;
	display:block;
	padding-left:0px;}
	
.navbar-toggle .icon-bar{
	background-color:#b3b3be;}



.app-search{
	position:relative;
	margin-top:8px;
	margin-bottom:8px;
	margin-right:15px;}
	

.app-search .form-control,
.app-search .form-control:focus{
	border:1px solid #d3d3db;
	font-size:13px;
	color:#c4c4cd;
	padding-left:30px;
	background:none;
	box-shadow:none;}
	

	
.app-search:before{
	content:"\f002";
	position:absolute;
	left:12px;
	font-family: FontAwesome;
	cursor:pointer;
	top:7px;
	color:#c4c4cd;
	display:inline-block;}
	
.app-search .form-control::-moz-placeholder {
	color:#c4c4cd;}



/*** Nav Toolbar (right)***/

header .navbar-default .navbar-nav > li > a{
	color:#b3b3be;}


/*** Nav Toolbar (right)***/

.nav-toolbar{
	margin:8px 0px;
	float:right;}
	
.nav-toolbar > li{
	padding:0px;
	display:inline-block;
	margin-left:5px;
	position:relative;
	list-style:none;}
	
.nav-toolbar li span.badge{
	position:absolute;
	top:-3px;
	right:-3px;
	background-color:#8d82b5;
	font-weight:300;
	cursor:pointer;
	height:18px;
	width:18px;
	padding:1px;}

.nav-toolbar li span.badge.bg-info{
	background-color:#8d82b5;}
	
.nav-toolbar li span.badge.bg-warning{
	background-color:#E35B5A;}
	

.nav-toolbar > li > a{
	color:#d3d3db;
	font-size:18px;
	border:1px solid #d3d3db;
	border-radius:50px;
	height:34px;
	width:34px;
	text-align:center;
	display:block;
	padding:4px;}
	
.nav-toolbar > li > a:hover{
	color:#C1C1C9;
	border:1px solid #C1C1C9;}	
	
	
.nav-toolbar .dropdown-menu.panel{
	padding-top:0px;
	padding-bottom:0px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);}



/*****************************
Content Area (right)
*****************************/

.content{
	margin-left:230px;}
	
.content > .container-fluid{
	padding-left:25px;
	padding-right:25px;}


.warper{
	padding-top:20px;
	padding-bottom:20px;
	min-height:550px;}






/*** Page Header / Page Title ***/

.page-header{
	margin:0px;
	border:0px;}

.page-header h1{
	color:#84868e;
	font-weight:300;
	font-size:32px;
	margin-top:15px;
	margin-bottom:20px;}
	
.page-header *{
	font-weight:300;}
	
	
.page-header * small{
	font-size:14px;
	color:#9D9EA5;}






/*****************************
Custom Margins & Paddings
*****************************/

.no-margn{
	margin:0px;}


.margn-t-xs{
	margin-top:5px;}
	
.margn-t-sm{
	margin-top:10px;}






	
.no-padd{
	padding:0px;}

	
.padd-xs{
	padding:5px;}
	
.padd-sm{
	padding:10px;}
	
.padd-md{
	padding:15px;}
	
.padd-lg{
	padding:20px;}
	
	
.padd-t-xs{
	padding-top:5px;}
	
.padd-t-sm{
	padding-top:10px;}
	
.padd-t-md{
	padding-top:15px;}
	
.padd-t-lg{
	padding-top:20px;}









/*****************************
Styled Radio/Checkbox
*****************************/

.cr-styled{
	display:inline-block;
	margin:0px 2px;}
	
.cr-styled i{
	display:inline-block;
	height:20px;
	width:20px;
	cursor:pointer;
	vertical-align:middle;
	border:2px solid #CCC;
	border-radius:3px;
	text-align:center;
	padding-top:1px;
	font-family: 'FontAwesome';}
	
.cr-styled input{
	visibility:hidden;
	display:none;}
	


/* Checkbox */
.cr-styled input[type=checkbox]:checked + i:before{
	content: "\f00c";}


/* Radio */
.cr-styled input[type=radio] + i{
	border-radius:20px;}	
.cr-styled input[type=radio]:checked + i:before{
	content: "\f111";}




/*** cr-styled Theaming/Colorss ***/

.cr-styled input:checked + i{
	border-color:#a49bc4;
	color:#a49bc4;}






	










/*****************************
 Pages / Widgets / Elements 
*****************************/


/****Dashboard Stats****/

.dashboard-stats.panel{
	position:relative;
	cursor:pointer;
	padding:10px 10px 10px 106px;}
	
.dashboard-stats i.fa.stats-icon{
	width:80px;
	padding:20px;
	font-size:40px;
	position:absolute;
	margin-left:10px;
	left:0px;
	top:10px;
	text-align:center;
	z-index:1;
	color:#fff;
	height:80px;}
	
	
.dashboard-stats.rounded i.fa.stats-icon,
.dashboard-stats.rounded.panel{
	border-radius:50px;}
	

.dashboard-stats .sparkline{
	position:absolute;
	left:30px;
	top:20px;
	opacity:0;}
	
.dashboard-stats h3{
	margin-top:14px;}

.dashboard-stats small{
	font-size:14px;
	margin-left:6px;
	opacity:0.8;}	
	
.dashboard-stats:hover i.fa.stats-icon{
	/*right:10px;*/
	left:100%;
	margin-left:-90px;}
	
	
.dashboard-stats:hover h3,
.dashboard-stats:hover p{
	opacity:0;}
	
.dashboard-stats:hover .sparkline,
.dashboard-stats:hover i.fa.stats-icon{
	opacity:1;}
	






/****Messages-Chating****/

.messages{
	max-height:520px;
	overflow:auto;}

.messages .media{
	padding-top:18px;
	padding-bottom:18px;
	margin:0px;
	border-top:1px dashed #eaeef1;}
	
.messages .media:first-child{
	border:0px;}

.messages .media .media-body .media{
	margin-top:18px;
	padding-bottom:0px;}


/*user status icon*/
.user-status{
	position:relative;
	display:inline-block;}
	
.user-status:before,
.user-status:before{
	content:"";
	display:inline-block;
	height:12px;
	width:12px;
	border-radius:100%;
	background-color:#666;
	position:absolute;
	top:0px;
	right:0px;
	border:2px solid #fff;}


/*user status icon color*/	
.user-status.online:before{
	background-color:#70ba63;}

.user-status.busy:before{
	background-color:#01a0e6;}
	
.user-status.invisibled:before{
	background-color:#f2b635;}
	
.user-status.offline:before{
	background-color:#f25648;}



.messages .media > .pull-left{
	margin-right:15px;}
.messages .media > .pull-right{
	margin-left:15px;}
	
.messages .media > .pull-right + .media-body{
	text-align:right;}	
	

.messages .media img.media-object{
	width:54px;
	border-radius:100%;}

.messages .media .media-body{
	font-size:13px;}





/****ToDo List****/
.todo-list li{
	border:0px;
	margin:0px;
	border-radius:0px;
	border-bottom:1px dashed #e0e0e0;}





/****Activities List****/


.activities-list{
	max-height:560px;
	overflow:auto;}

.activities-list > li{
	position:relative;
	padding:10px 95px 10px 40px;}

.activities-list > li:before{
	content:"";
	position:absolute;
	left:15px;
	top:0px;
	height:100%;
	border-left:1px solid #ccc;}
	
.activities-list > li:after{
	content:"";
	position:absolute;
	left:10px;
	top:10px;
	height:12px;
	width:12px;
	border-radius:20px;
	border:1px solid #ccc;
	background-color:#fff;}


.activities-list > li span.time{
	font-size:12px;
	color:#ccc;}


.activities-list li .activity-actions{
	position:absolute;
	right:0px;
	top:25px;}


.activities-list > li.info-activity:before,
.activities-list > li.info-activity:after{
	border-color:#4fcdfc;}

.activities-list > li.warning-activity:before,
.activities-list > li.warning-activity:after{
	border-color:#fcd036;}
	
.activities-list > li.danger-activity:before,
.activities-list > li.danger-activity:after{
	border-color:#ff6264;}
	
.activities-list > li.success-activity:before,
.activities-list li.success-activity:after{
	border-color:#68b828;}
	
.activities-list > li.primary-activity:before,
.activities-list > li.primary-activity:after{
	border-color:#7c38bc;}
	
.activities-list > li.info-activity:before,
.activities-list > li.info-activity:after{
	border-color:#4fcdfc;}






/*****************************
Footer
*****************************/

.footer {
    background-color: #f2f2f4;
    border-top: 1px solid #ececee;
    padding-bottom: 15px;
    padding-top: 15px;
}






/***********************************************
================================================
 Custom Bootstrap / Overwriting
================================================
************************************************/



/*****************************
 Grid
*****************************/

.row.no-gutter {
	margin-left: 0;
	margin-right: 0;}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
    padding-left: 0;
    padding-right: 0;
}




/*****************************
 Color >> Backgrounds + Text 
*****************************/

.bg-white{
	background-color:#fff;}
.text-white{
	color:#fff;}


.bg-pink{
	background-color:#eaa1bd;}
.text-pink{
	color:#eaa1bd;}
	

.bg-yellow{
	background-color:#f9dc85;}
.text-yellow{
	color:#f9dc85;}
	

.bg-gray{
	background-color:#b2b2b2;}
.text-gray{
	color:#b2b2b2;}
	
	
.bg-lightgray{
	background-color:#fbfbfd;}
.text-lightgray{
	color:#fbfbfd;}


.bg-red{
	background-color:#F16364;}
.text-red{
	color:#F16364;}
	

.bg-blue{
	background-color:#00a0e6;}
.text-blue{
	color:#00a0e6;}
	
.bg-green{
	background-color:#67BF74;}
.text-green{
	color:#67BF74;}
	
	
.bg-purple{
	background-color:#8d82b5;}
.text-purple{
	color:#8d82b5;}		
	
	
.bg-yellow{
	background-color:#F9A43E;}
.text-yellow{
	color:#F9A43E;}
	

.bg-orange{
	background-color:#F58559;}
.text-orange{
	color:#F58559;}			


.bg-test{
	background-color:#79B9D9;}
.text-test{
	color:#79B9D9;}


.bg-warning{
	background-color:#FEB252;}
.text-warning{
	color:#FEB252;}
	
.bg-danger{
	background-color:#E9573F;}
.text-danger{
	color:#E9573F;}
	
.bg-success{
	background-color:#70BA63;}
.text-success{
	color:#70BA63;}
	
.bg-info{
	background-color:#4DC5F9;}
.text-info{
	color:#4DC5F9;}	













/*****************************
 Form Elements
*****************************/

/*** Custom Colors Btn ***/
.btn-purple{
	background-color:#8d82b5;
	border-color:#6b5f98;
	color:#fff;}
	
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple{
	background-color:#6b5f98;
	color:#fff;}
	
.btn-dblue{
	background-color:#032C5E;
	/*border-color:#F9F9F9;*/
	color:#fff;
}

.btn-dblue:hover,
.btn-dblue:focus,
.btn-dblue:active,
.btn-dblue.active {
	background-color:#032C5E;
	color:#fff;
}
	
.btn-green{
	background-color:#70ba63;
	border-color:#579e4b;
	color:#fff;}
	
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-purple{
	background-color:#579e4b;
	color:#fff;}
	
.btn-dblue:hover{
	background-color:#032C5E;
	color:#e2e2e2;
}	









/*** Btn Shapes ***/
.btn-circle,
.form-control-circle,
.btn-group .btn-circle:first-child:not(:last-child):not(.dropdown-toggle){
	border-radius:50px;}

.btn-flat,
.form-control-flat{
	border-radius:0px;}




/*****************************
Form Elements
*****************************/

.has-feedback div[class*=col-] .form-control-feedback{
	right:15px;
	line-height:34px;}





/*****************************
Panel Styling
*****************************/

.panel{
	margin-bottom:30px;}

.panel-heading{
	font-weight:700;}
.panel-heading small,
.panel-heading span,
.panel-heading.un-bold{
	font-weight:400;}


/*** default ***/	
.panel-default > .panel-heading,
.panel-default > .panel-footer{
	border-color: #e8e8eb;
	box-shadow:none;}		

.panel-default > .panel-heading,
.btn-default{
	color:#9D9EA5;}
	
	
/*** primary ***/
.panel-primary{
	border-color:#8d82b5;}
	
.panel-primary > .panel-heading,
.panel-primary > .panel-footer{
	border-color: #8d82b5;
	background-color:#8d82b5;
	box-shadow:none;}
	
	
/*** success ***/
.panel-success{
	border-color:#70ba63;}
	
.panel-success > .panel-heading,
.panel-success > .panel-footer{
	border-color: #70ba63;
	background-color:#70ba63;
	color:#fff;
	box-shadow:none;}
	

/*** info ***/
.panel-info{
	border-color:#4cbceb;}
	
.panel-info > .panel-heading,
.panel-info > .panel-footer{
	border-color: #4cbceb;
	background-color:#4cbceb;
	color:#fff;
	box-shadow:none;}
	
/*** warning ***/
.panel-warning{
	border-color:#feb252;}
	
.panel-warning > .panel-heading,
.panel-warning > .panel-footer{
	border-color: #feb252;
	background-color:#feb252;
	color:#fff;
	box-shadow:none;}
	
	
/*** danger ***/
.panel-danger{
	border-color:#e35b5a;}
	
.panel-danger > .panel-heading,
.panel-danger > .panel-footer{
	border-color: #e35b5a;
	background-color:#e35b5a;
	color:#fff;
	box-shadow:none;}
	
	
		


	
/*** Clean Panel Heading ***/
.panel-heading.clean,
.panel-footer.clean{
	background:none;
	border:none;}





/*****************************
 Dropdown
*****************************/

.dropdown-menu{}


.dropdown-menu > li > a{
	color:#84868e;}

/*** Dropdown Menu Sizes ***/

.dropdown-menu.md{
	min-width:300px}
	

.dropdown-menu.lg{
	min-width:400px;}

	


.dropdown-menu.arrow:after,
.dropdown-menu.arrow:before{
	content:"";
	display:block;
	position:absolute;
	height:11px;
	width:11px;
	border-color:inherit;
	border-style:solid;
	border-width:11px;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	position:absolute;
	bottom:100%;
	left:6px;}

	
.dropdown-menu.arrow.arrow-top-right,
.dropdown-menu.arrow.arrow-top-left{
	top:calc(100% + 15px);}



/**Top Right Arrow**/
.dropdown-menu.arrow.arrow-top-right:after,
.dropdown-menu.arrow.arrow-top-right:before{
	border-bottom-color:inherit;
	right:6px;
	left:auto;}
	
.dropdown-menu.arrow.arrow-top-right:before{
	right:5px;
	left:auto;}

.dropdown-menu.arrow.arrow-top-right:after{
	border-bottom-color:#fff;}




/**Top Left Arrow**/
.dropdown-menu.arrow.arrow-top-left:after,
.dropdown-menu.arrow.arrow-top-left:before{
	border-bottom-color:inherit;
	left:6px;
	left:auto;}
	
.dropdown-menu.arrow.arrow-top-left:before{
	left:5px;}




.dropdown-menu.arrow:after{
	height:10px;
	width:10px;
	border-width:10px;}

.dropdown-menu.arrow.panel-default:after{
	border-bottom-color:#F5F5F5;}






/*****************************
Progress Bars
*****************************/

.progress.progress-xxs{
	height:4px;}

.progress.progress-xs{
	height:8px;}

.progress.progress-sm{
	height:12px;}
	
.progress.progress-lg{
	height:24px;}






/*****************************
Horizaontal Row
*****************************/

hr.sm{
	margin-top:15px;
	margin-bottom:15px;}

hr.xs{
	margin-top:10px;
	margin-bottom:10px;}
	

hr.dotted{
	border-style:dashed;}

hr.clean{
	border:0px;}


/*****************************
Tabs with panel
*****************************/

.panel.tab-pane.tabs-up{
	border-top:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;}








/****************************************
=========================================
Responsive Stying
=========================================
*****************************************/

@media (max-width: 768px) {
	
	
	
	aside.left-panel.collapsed{
	width:250px;
	left:0px;
	overflow:hidden !important;}
	
	aside.left-panel.collapsed + .content{
	margin-left:0px;
	transform:translate3d(250px, 0px, 0px);
	-ms-transform:translate3d(250px, 0px, 0px); 
	-webkit-transform:translate3d(250px, 0px, 0px); 
	-moz-transition: translate3d(250px, 0px, 0px);
	-o-transition: translate3d(250px, 0px, 0px)}
	

	
	aside.left-panel{
		left:100%;}
	
	section.content{
		margin-left:0px;}
		
	.content > .container-fluid{
		padding-left:15px;
		padding-right:15px;}
		
	.page-header h1{
		margin-top:0px;}
	
}





@media (max-width: 450px) {
	.dropdown-menu{
		min-width:280px !important;}
		
	.messages-dropdown{
		right:-80px !important;}
		
	.messages-dropdown.arrow.arrow-top-right:after{
		right:85px;}
	.messages-dropdown.arrow.arrow-top-right:before{
		right:84px;}	
		
	.notifications{
		right:-40px !important;}
		
	.notifications.arrow.arrow-top-right:after{
		right:45px;}
	.notifications.arrow.arrow-top-right:before{
		right:44px;}
	
}





/****************************************
=========================================
Just For Demo / Showcase
=========================================
*****************************************/

.showcase-btn li, .showcase-btn{
	margin-bottom:10px;}

.showcase-switch-button{
	margin-right:15px;}
	
.showcase-pagination{
	margin-top:10px;
	margin-bottom:10px;}




	
.showcase-icons div{
	line-height:40px;
	cursor:pointer;
	height:40px;}
	
.showcase-icons i{
	
	transition: font-size 0.2s ease 0s;
	text-align:center;
	width:40px;}
	
.showcase-icons > div:hover i{
	font-size:26px;
}

.file-preview-image , .file-preview-frame {
    width: auto !important;
}

.kv-file-upload {
    display: none;
}

.product-image-list
{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
}

.bootstrap-datetimepicker-widget td.disabled,
.bootstrap-datetimepicker-widget td.disabled:hover {
    background-color: rgb(252, 251, 251);
    color: #DBD9D9;
    border-radius: 0;
}

.image-alt-text {
	margin-top: 20px !important;
}
.image-alt-text-label {
	display: inline-block !important;
}

.image-control {
    margin-left: 10px;
    text-align: right;
}

.image-thumbnail {
    width: 120px;
}

.image-form-header {
    font-size: 14px;
    font-weight: bold;
    display: inline;
}

.image-body .websites {
    margin-top: 15px;
}

.sweet-alert .sa-icon.sa-warning {
    border-color: #ec971f;
}

.alert a {
    text-decoration: underline;
}

.product-image-list .table-striped > tbody > tr:nth-child(odd) > td,
.product-image-list .table-striped > tbody > tr:nth-child(odd) > th {
    background : none;
}

.product-image-list .table-striped > tbody > tr:nth-child(odd) {
    background : #f9f9f9 ;
}

.product-image-list td.image-thumbnail {
    border-right-width: 0;
}
.product-image-list td.image-body {
    border-left-width: 0;
}

.login {
    margin: 0 auto;
    float: none;
    width: 400px;
}

.login-container {
    width: 100%;
}

@media (max-width: 390px) {
    .login {
        width: 100%;
    }
    .login h3 img {
        width: 100%;
    }
}


.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today.disabled:focus {
    color: #9E9E9E;
    background-color: #F0F0F0 !important;
}


.datepicker .datepicker-days th.next,
.datepicker .datepicker-days th.prev{
    line-height: 28px;
}

.bootstrap-datetimepicker-widget .datepicker-days th.next,
.bootstrap-datetimepicker-widget .datepicker-days th.prev{
    line-height: 18px;
}


.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background-color: #F4F3F3;
    color: #CAC5C5;
    cursor: not-allowed;
    border-radius: 0;
}

.form-inline .form-group .form-control{
    width: 100%;
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

.no-padd-left {
    padding-left: 0;
}

.no-padd-right {
    padding-right: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

/**custom css**/

i.operation-icon {
	color: #5cb85c !important;
	font-size: 15px !important;
}

.operation-link {
	color: #84868e;
}

.operation-link:hover {
	color: #000;
}

i.operation-icon:hover {
	color: #449d44 !important;
}

/** breadcrumbs **/

.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}

/** Default button **/

.btn-breadcrumb .btn:active,
.btn-breadcrumb .btn.active{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}

.btn-breadcrumb .btn.btn-default.active:not(:last-child):after ,
.btn-breadcrumb .btn.btn-default.active:hover:not(:last-child):after ,
.btn-breadcrumb .btn.btn-default.active:focus:not(:last-child):after ,
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after ,
.btn-breadcrumb .btn.btn-default:focus:not(:last-child):after{
    border-left: 10px solid #e6e6e6;
}


.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}

/* The responsive part */

.btn-breadcrumb > * > div {
    /* With less: .text-overflow(); */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-breadcrumb > *:nth-child(n+2) {
    display:none;
}

/* === For phones =================================== */
@media (max-width: 767px) {
    .btn-breadcrumb > *:nth-last-child(-n+2) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 60px;
    }
}

/* === For tablets ================================== */
@media (min-width: 768px) and (max-width:991px) {
    .btn-breadcrumb > *:nth-last-child(-n+4) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 100px;
    }
}

/* === For desktops ================================== */
@media (min-width: 992px) {
    .btn-breadcrumb > *:nth-last-child(-n+6) {
        display:block;
    }
    .btn-breadcrumb > * div {
        max-width: 170px;
    }
}

.breadcrumb-row {
    margin-bottom: 10px;
}


.page-header strong {
    font-weight: bold;
}

/** Spinner **/

.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}

.input-group-total .input-group-addon {
    cursor: pointer;
}

.passenger-row {
    margin-bottom: 15px;
    position: relative;
    border-top: 1px solid rgb(236, 236, 236);
    padding-top: 10px;
}

.passenger-row .delete {
    position: absolute;
    right: 5px;
    top: 5px;
}

.form-control-srow {
    padding-top: 30px;
}

.comment-list .comment{
    border-bottom: 1px dotted #ccc;
}

.notes-row {
    margin-top: 10px;
}

.addon-row {
    border: 1px solid rgb(229, 229, 229);
    padding-top: 10px;
    position: relative;
}

.addon-row .delete {
    position: absolute;
    right: 5px;
    top: 5px;
}

.spinner input {
    padding: 2px;
}

.product-row {
    border: 1px solid rgb(229, 229, 229);
    padding-top: 10px;
    position: relative;
}

.product-row .delete {
    position: absolute;
    right: 5px;
    top: 5px;
	z-index: 1;
}

.ingredient-row,
.rawmaterial-row {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding-bottom: 10px;
}

.ingredient-row .delete,
.rawmaterial-row .delete {
    position: absolute;
    right: 10px;
    top: 5px;
	z-index: 1;
}


/* table scroll */

.table-responsive > .table-bordered {
    border: 0;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}

.table-responsive > .table {
    margin-bottom: 0;
}

.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
}
.table-responsive > .table-bordered {
    border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
}

body {
    min-height: 100vh;
}
.left-panel {
    z-index: 1;
}

@media (min-width: 1200px){
    .edit-operation-button-bt{
        display: block !important;
    }
    .edit-operation-button-tp{
        display: none !important;
    }
}

#multiple-warning {
    padding-left: 0;
}

#multiple-warning li {
    list-style-type: none;
}

div.starrr {
	display:block !important;
}

.send-feedback-text {
    margin-left: 10px;
}

.pagination {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
}

/** Ashay Custom Pages **/

.panel-success > .panel-body {
    background-color: #F7FFEB;
}

.btn-success.bordered,
.btn-success.bordered:hover,
.btn-success.bordered:focus{
    background-color: #fff;
    color:#4cae4c;
}



.pagination > li > a, .pagination > li > span{

    color: #84868E;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color:#F5F5F5 ;
    border-color: #ddd;
    color: #404040;
}

.main-div{
    background-color:#353c53;
    padding:10px;
    border-radius:5px;
    margin-bottom:15px;}

.main-div .panel{
    margin-bottom:10px;}

.main-div > .panel:last-child{
    margin-bottom:0px;}

.panel.no-margn{
    margin: 0px;
}

.form-horizontal .control-label.text-left{
    text-align: left;
}

.mm-t-2{
    position: relative;
    top: -2px;
}


.easy-div{
    margin:0px;}

.easy-div > tbody > tr > td{
    border:0px;}

.easy-div1 > tbody > tr > td{
    vertical-align:middle;}



.no-br-white-bg{
    background:#fff;
    border-style: none !important;
}

.chosen-container{
    width:100% !important;
}

.toggleicon-rd.collapsed .fa-chevron-down::before{
    content: "\f054";
}

.toggleicon-td.collapsed .fa-chevron-up::before{
    content: "\f078";
}


@media (min-width: 1920px) {

    .availability-slot .panel-body {
        padding-left: 10px;
        padding-right: 10px;
    }

    #tour-manager-page .col-md-4 {
        width: 16.66666667%;
    }

}

/*****************************
 Table
*****************************/

.rounded-custom {

}


.rounded-custom > thead > tr{
    background: #EEEEEE;

}

.rounded-custom{
    border-collapse: separate;
}
.rounded-custom {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.rounded-custom td, .rounded-custom th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.rounded-custom th {
    border-top: none;
}
.rounded-custom th:first-child {
    border-radius: 6px 0 0 0;
}
.rounded-custom th:last-child {
    border-radius: 0 6px 0 0;
}
.rounded-custom th:only-child{
    border-radius: 6px 6px 0 0;
}
.rounded-custom tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.rounded-custom tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}

.rounded-custom > tbody > tr{
    background-color: #fff;
}

.rounded-custom > tbody > tr:nth-of-type(2n+2){
    background-color: #f9f9f9;
}

.table-no-bordered > thead > tr > th,
.table-no-bordered > tbody > tr > th,
.table-no-bordered > tfoot > tr > th,
.table-no-bordered > thead > tr > td,
.table-no-bordered > tbody > tr > td,
.table-no-bordered > tfoot > tr > td{
    border:none;
    padding:8px 8px 8px 0px;
}


/** End of Ashay Custom Pages **/

.switch-button-row li {
    margin-right: 20px;
}

.switch-button-row .toggle-button {
    margin-left: 10px;
}

.promos-product-row {
    margin-bottom: 15px;
    position: relative;
    border-top: 1px solid rgb(236, 236, 236);
    padding-top: 10px;
}

.promos-product-row .delete {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
}

#clipboard-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    z-index: 100;
    display: none;
    opacity: 0;
}
#clipboard {
    width: 1px;
    height: 1px;
    padding: 0px;
}

#tour-manager-page .btn:hover, #tour-manager-page .btn:active {
	z-index: inherit !important;
}

#tour-manager-page .even .panel-success {
    border-color: #4cbceb;
}

#tour-manager-page .even .panel-success > .panel-heading {
    border-color: #4cbceb;
    background-color: #4cbceb;
}

#tour-manager-page .even .tour-preloader {
    background-color: #4cbceb;
}

#tour-manager-page .even .panel-success > .panel-body {
    background-color: #EBFDFF;
}


.as-totals li {
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
}

.as-totals h3 {
    line-height: 15px;
}

.as-totals li span {
    padding: 6px 12px;
    font-size: 18px;
}

.tour-preloader {
    text-align: center;
    padding: 50px;
    background-color: #5cb85c;
}

.availability-slot .form-horizontal .form-group {
    margin-right: -10px;
    margin-left: -10px;
}

.comment-panel {
    margin-top : -5px;
}

.comment-container .comment-row textarea {
    margin-top: 5px;
}

.comment-container .comment-row {
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 10px 0 10px;
}

.comment-container .comment-row p{
    margin: 5px 2px;
}

/* .comment-container div:last-child { border-bottom: none; } */

.comment-container {
    margin-bottom: 10px;
}

.comment-container .edit-buttons span,
.comment-container .edit-buttons span i {
    cursor: pointer;
}

.comment-body {
    margin-bottom: 10px;
}

.comment-body button {
    margin-top: 10px;
}

.availability-slot .edit-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.availability-slot .panel-control {
    margin-bottom: 10px;
}

.availability-slot .totals-tabs {
    margin-bottom: 10px;
}

.availability-slot .totals-tabs span,
.availability-slot .totals-tabs span i {
    cursor: pointer;
}

.availability-slot .totals-tabs .text-right {
    padding-right: 0;
}

.availability-slot .totals-tabs .text-left {
    padding-left: 0;
}

.availability-slot .totals-tabs span.selected i.fa-paperclip {
    color: #70BA63;
}

.availability-slot .totals-tabs span.selected i.fa-bus {
    color: #F9A43E;
}

.totals-tabs .text-left {
    position: relative;
}

.totals-tabs .text-left .fa-circle{
    font-size: 5px;
    position: absolute;
    top: 0;
    color: #70ba63;
}


.guides {
    margin-top: 10px;
}

dl.guide-dropdown {
    margin-bottom: 0;
}

.guide-dropdown dd, .guide-dropdown dt {
    margin:0px;
    padding:0px;
}
.guide-dropdown ul {
    margin: -1px 0 0 0;
}
.guide-dropdown dd {
    position:relative;
}
.guide-dropdown a,
.guide-dropdown a:visited {
    color:#85868D;
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.guide-dropdown dt a {
    background-color:#EEEEEE;
    display:block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    overflow: hidden;
    border:0;
}
.guide-dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 2px;
}
.guide-dropdown dd ul {
    background-color: #EEEEEE;
    border: 1px solid #E5E0E0;
    color:#85868D;
    display:none;
    left:0px;
    padding: 0px;
    position:absolute;
    top:0;
    width: 100%;
    list-style:none;
    height: 100px;
    overflow: auto;
    z-index: 1;
    box-shadow: 10px 11px 37px -12px rgba(0,0,0,0.75);
}
.guide-dropdown span.value {
    display:none;
}
.guide-dropdown dd ul li a {
    padding:5px;
    display:block;
}

.guide-dropdown dd ul li:hover {
    background-color:#fff;
}

.guide-dropdown .multi-select ul li label {
    margin-bottom: 0;
    font-size: 12px;
    padding: 2px;
    width: 100%;
    text-indent: 20px;
}

.guide-dropdown .multi-select .confirm {
    position: absolute;
}

.guide-dropdown .multi-select .confirm i {
    padding: 0 5px;
}

.guide-dropdown .multi-select .confirm i:hover {
    color: #72869B;
}

.guide-dropdown .multi-select ul li {
    padding: 0 5px;
    position: relative;
}

.guide-dropdown .multi-select ul li.selected {
    background: rgba(92, 184, 92, 0.13);
}

.guide-dropdown .multi-select ul li label,
.guide-dropdown .multi-select ul li{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    vertical-align: middle;
}

.guide-dropdown .multi-select ul li input{
    display: none;
}

.guide-dropdown .result-element {
    display: inline-block;
}

.availability-slot .showcase-switch-button {
    margin: 0;
}

.availability-slot .showcase-switch-button {
    margin-top: 2px;
}

.availability-slot .option-buttons {
    width: 65px;
    text-align: center;
}

.availability-slot .product-options td {
    vertical-align: middle;
}

.availability-slot .btn-warning.action {
    background-color: #ec971f;
    border-color: #d58512;
}


ul.as-totals .limitedit .input-group-btn {
    width: 75px
}

ul.as-totals .limitedit input {
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
/*product ingredients and raw materials*/
.panel-body.product-ingredient,
.panel-body.product-rawmaterial {
	max-height: 190px;
	overflow-y: auto;
	overflow-x: hidden;
}

/* Category sortable styling */
.category-div{
	max-width: 300px;
	overflow: hidden;
	color: #9D9EA5;
	background: #f5f5f5;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
}
.category-sort-icon {
	margin-right:10px;
}

.bootstrap-tagsinput .tag {
	font-size: 14px;
}