h3 {
	font-size: 20px !important;
}
h4 {
	font-size: 16px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	line-height: normal !important;
	padding: 3px !important;
}
table {
	font-size: 12px !important;
}